.jumbotron {
    height: 40vh;
    background-image: url("/img/top2.webp");
    background-position:left 0 top 80%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-color: #2EA9BC; /* ← jumbotronの背景色 */
}

.jumbotron::before {
  content: "";
  position: absolute;
  inset: 0; /* top, right, bottom, left: 0 と同じ */
  background: rgba(255, 255, 255, 0.3); /* ← 透明度20%の黒 */
  z-index: 0;
}

.jumbotron > * {
  position: relative;
  z-index: 1; /* 文字を前面に出す */
}

.arrow {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    margin: 0 16px;
    color: #2EA9BC;
    transform: translateY(-12px); /* 3倍上に移動 */
}

.company-name {
    position: relative;
    margin: 10vh 0 0 10vw;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    font-family: "Roboto";
}

.btn-message {
  font-size: 24px;
  font-weight: bold;
  color: #0069d9;      /* ボタンと統一感 */
  margin-top: 20px;  /* ボタンとの間隔 */
}

.bland-message {
    margin-left: 10vw;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    font-family: "Roboto";
}

.box-text {
    display:inline-block;
    width: 250px;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 16px;
    color: #313131;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    outline: 0.5rem solid #313131;
    outline-offset: 0.5rem;
    outline-width: 5px;
}

.service-section {
    background-color: #2EA9BC;
    color: #FFFFFF;
    padding-bottom: 16px;
    text-align: center;
}

.service-point-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding-top: 32px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    font-family: "Roboto";
}

.service-point-subtitle {
    margin-bottom: 16px;
}

.service-point-row {
    display: flex;
    justify-content: center;
}

.service-point {
    margin: 16px;
}

.service-point img {
    width: 300px;
    height: 200px;
    display: block;
}

.service-point p {
    margin-top: 10px;
    margin-bottom: 0;
}

.service-point a {
    color: #FFFFFF;        /* 文字を白に */
    text-decoration: none; /* 下線を消す */
    display: inline-block; /* 必要に応じてブロック扱い */
}