<div class="container">
  <div class="service-title">ネットで簡単お申込み</div>
  <img src="/img/service8.webp" alt="サービス8詳細" class="service-image">
  <div class="service-description">
    ネットから簡単にお申込み可能。
    忙しい方でも手軽に利用できます。
  </div>
</div>
