<div class="container">
  <div class="service-title">日帰り入院でも一時金支給</div>
  <img src="/img/service3.webp" alt="サービス3詳細" class="service-image">
  <div class="service-description">
    日帰り入院の場合でも一時金が支給されるため、
    突発的な医療費にも対応可能です。
  </div>
</div>
