<div class="container">
  <div class="service-title">1000種類以上の手術に対応</div>
  <img src="/img/service5.webp" alt="サービス5詳細" class="service-image">
  <div class="service-description">
    1000種類以上の手術に対応。幅広い医療ニーズに対応可能です。
  </div>
</div>
