<div class="container">
  <div class="service-title">サイトからの詳細見積もり依頼で割引</div>
  <img src="/img/service9.webp" alt="サービス9詳細" class="service-image">
  <div class="service-description">
    サイトから詳細見積もりを依頼すると割引が適用されます。
    お得に加入できるチャンスです。
  </div>
</div>
