<div class="container">
  <div class="service-title">医療サポートをご用意 24時間いつでも電話可能</div>
  <img src="/img/service7.webp" alt="サービス7詳細" class="service-image">
  <div class="service-description">
    24時間いつでも医療相談が可能な電話サポート付き。
    緊急時も安心です。
  </div>
</div>
