<div class="container">
  <div class="service-title">七大生活習慣病を手厚く保証</div>
  <img src="/img/service4.webp" alt="サービス4詳細" class="service-image">
  <div class="service-description">
    七大生活習慣病を手厚く保障。安心して日常生活を送れます。
  </div>
</div>
