<div class="container">
  <div class="service-title">先進医療は通算2000万円まで保証</div>
  <img src="/img/service6.webp" alt="サービス6詳細" class="service-image">
  <div class="service-description">
    先進医療にかかる費用は通算2000万円まで保証。
    高額な治療にも安心です。
  </div>
</div>
