{{#partial "head" }}
  <title>Top画面</title>
  <link rel="stylesheet" href="/css/top.css">
{{/partial}}

{{#partial "content"}}
    <div class="jumbotron">
      <div class="company-name" style="color: #0069d9;">tiscon insurance company</div>
      <div class="bland-message" style="color: #0069d9;">未来の景色に鮮やかな彩りを</div>
    </div>
    <div>
      <div class="page-title">3ステップで簡単料金シミュレーション</div>
      <div class="text-center">
        <div class="box-text">1. お見積り情報<br/>入力</div>
        <div class="arrow">▶︎</div>
        <div class="box-text">2. ご入力内容の<br/>確認</div>
        <div class="arrow">▶︎</div>
        <div class="box-text">3. お見積もり<br/>概算料金を算出</div>
      </div>
    </div>
    <div class="text-center">
      <p class="btn-message">↓5分で完了！以下のボタンをクリック！↓</p>
      <a class="btn btn-primary" href="/start" role="button"
   style="padding: 18px 120px; font-size: 30px; border-radius: 48px; box-shadow: 0 8px 16px rgba(0,0,0,0.2); transition: all 0.3s;">
  簡単無料見積もりをする
</a>
    </div>
    <div class="service-section">
      <h1 class="service-point-title">Service</h1>
      <p class="service-point-subtitle">tiscon insurance companyは豊富な保証・サービスでお客様に安心を届けます。
      </p>
      <div class="service-point-row">
        <div class="service-point">
          <a href="/service-detail1">
          <img src="/img/service1.webp"  alt="サービス1詳細"/>
          <p>加入時の保険料から生涯変わらない</p>
        </a>
        </div>
        <div class="service-point">
          <a href="/service-detail2">
            <img src="/img/service2.webp" alt="サービス2詳細"/>
            <p>入院・手術などを一生涯保証</p>
          </a>
        </div>
        <div class="service-point">
          <a href="/service-detail3">
            <img src="/img/service3.webp" alt="サービス3詳細"/>
            <p>日帰り入院でも一時金支給</p>
          </a>
        </div>
      </div>
      <div class="service-point-row">
        <div class="service-point">
          <a href="/service-detail4">
            <img src="/img/service4.webp" alt="サービス4詳細"/>
            <p>七大生活習慣病を手厚く保証</p>
          </a>
        </div>
        <div class="service-point">
          <a href="/service-detail5">
            <img src="/img/service5.webp" alt="サービス5詳細"/>
            <p>1000種類以上の手術に対応</p>
          </a>
        </div>
        <div class="service-point">
          <a href="/service-detail6">
            <img src="/img/service6.webp" alt="サービス6詳細"/>
            <p>先進医療は通算2000万円まで保証</p>
          </a>
        </div>
      </div>
      <div class="service-point-row">
        <div class="service-point">
          <a href="/service-detail7">
            <img src="/img/service7.webp" alt="サービス7詳細"/>
            <p>医療サポートをご用意<br>
            24時間いつでも電話可能</p>
          </a>
        </div>
        <div class="service-point">
          <a href="/service-detail8">
            <img src="/img/service8.webp" alt="サービス8詳細"/>
            <p>ネットで簡単お申込み</p>
          </a>
        </div>
        <div class="service-point">
          <a href="/service-detail9">
            <img src="/img/service9.webp" alt="サービス9詳細"/>
            <p>サイトからの詳細見積もり依頼で<br>
            割引</p>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center"> 
      <a class="btn btn-primary" href="/start" role="button"
        style="padding: 18px 120px; font-size: 30px; border-radius: 48px; box-shadow: 0 8px 16px rgba(0,0,0,0.2); transition: all 0.3s;">
        簡単無料見積もりをする
      </a>
    </div>
{{/partial}}

{{> common/base }}
